<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="myConnectionString"
    connectionString="server=cuedinsprint2.cfe6p3jbjixj.us-east-1.rds.amazonaws.com;database=CuedIn;uid=admin;password=dukedog19;" />
  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>
      
      
  </system.web>
  <system.net>
    <mailSettings>
      <smtp  deliveryMethod = "Network">
        <network host ="smtp.gmail.com" port ="587" userName ="testaspx20@gmail.com" password="Jimj@m123" enableSsl="true"/>



      </smtp>
    </mailSettings>

    
    
    
    
    
  </system.net>
    <system.codedom>

    </system.codedom>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"></add>
  </appSettings>
</configuration>
