<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
<system.webServer>
  <defaultDocument>
    <files>
      <clear />
      <add value="MasterPageForm.aspx" />
    </files>
  </defaultDocument>
</system.webServer>
  <connectionStrings>
    <add name="myConnectionString"
    connectionString="server=cuedinsprint2.cfe6p3jbjixj.us-east-1.rds.amazonaws.com;database=CuedIn;uid=admin;password=dukedog19;" />
  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>
      
    
 <!-- <authentication mode="Forms">
    <forms loginUrl="LoginForm.aspx" name=".ASPXFORMSAUTH">
    </forms>
  </authentication>
  <authorization>
<deny users="?" />
  </authorization> -->



    </system.web>
    <system.codedom>

    </system.codedom>

</configuration>
