<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
<system.webServer>
  <defaultDocument>
    <files>
      <pages>
        <namespaces>
          <add namespace="System.Data.SqlClient" />"
        </namespaces>

      </pages>
      <clear />
      <add value="MasterPageForm.aspx" />
    </files>
  </defaultDocument>
</system.webServer>

  <connectionStrings>
    <add name="myConnectionString" connectionString="server=cuedinsprint2.cfe6p3jbjixj.us-east-1.rds.amazonaws.com;database=CuedIn;uid=admin;password=dukedog19;" />
    <add name="CuedInConnectionString" connectionString="Data Source=cuedinsprint2.cfe6p3jbjixj.us-east-1.rds.amazonaws.com;Initial Catalog=CuedIn;Persist Security Info=True;User ID=admin;Password=dukedog19"
      providerName="System.Data.SqlClient" />
    <add name="CuedInConnectionString2" connectionString="Data Source=cuedinsprint2.cfe6p3jbjixj.us-east-1.rds.amazonaws.com;Initial Catalog=CuedIn;Persist Security Info=True;User ID=admin;Password=dukedog19"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>
      

        <customErrors mode="RemoteOnly" defaultRedirect="MasterPageForm.aspx"/>

      
      
 <!-- <authentication mode="Forms">
    <forms loginUrl="LoginForm.aspx" name=".ASPXFORMSAUTH">
    </forms>
  </authentication>
  <authorization>
<deny users="?" />
  </authorization> -->

    </system.web>
    <system.codedom>

    </system.codedom>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>
